<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>About</h1>
    <p>You can read about the creation of this service <a href="http://www.hardill.me.uk/wordpress/2016/11/05/alexa-home-skill-for-node-red/">here</a></p>

    <h2>Questions and Bugs</h2>
    <p>If you just have a general question then probably best to try and find me (hardilllb) on the <a href="http://nodered.org/slack">Node-RED Slack team</a> in 
    the #alexa channel.</p>
    <p>If you have a bug with the service please raise an issue on github <a href="https://github.com/hardillb/node-red-alexa-home-skill-web/issues">here</a></p>
    
    <h2>Thanks</h2>
    <p>If on the other hand you just want to say thanks, you can always throw a few quid my way to buy me a beer via <a href="https://paypal.me/hardillb/5">paypal</a></p>

    <h2>Privacy Policy</h2>
    <p>No information held by this sevice will be shared with 3rd parties, with the exception of the oAuth
    tokens required to link with Amazon's Alexa service.</p>
    <p>Email addresses will only be used for comunication about the operaton of the service</p>


  </div
<% include ../fragments/footer.ejs %>