<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h2>Questions and Bugs</h2>
    <p>If you just have a general question then probably best to try and find me (NorthernMan54) on the homebridge slack instance</a> in
    the #hap-alexa channel.</p>
    <p>If you have a bug with the service please raise an issue on github <a href="https://github.com/NorthernMan54/homebridge-alexa/issues">here</a></p>

    <h2>Privacy Policy</h2>
    <p>No information held by this sevice will be shared with 3rd parties, with the exception of the oAuth
    tokens required to link with Amazon's Alexa service.</p>
    <p>Email addresses will only be used for comunication about the operaton of the service</p>


  </div
<% include ../fragments/footer.ejs %>
