<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>Admin</h1>
    
    <h2>Services</h2>
    <a href="/admin/services">here</a>

    <h2>Users - <%= userCount %></h2>
    <a href="/admin/users">here</a>

  </div
<% include ../fragments/footer.ejs %>