<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <div id="changePassword">
      <h3>Enter New Password</h3>
      <label style="width: 75px" for="password">Password:</label>
      <input type="password" id="password"/>
      <div id="pwq" class="pwq"></div>
      
      <p>Please enter password again</p>
      <label style="width: 75px" for="password">Password:</label>
      <input type="password" id="passwordAgain"/>
      <div id="pwm" class="pwq"></div>
      <br>
      <button id="registerButton">Submit</button>
      <script type="text/javascript" src="js/zxcvbn.js"></script>
      <script type="application/javascript">

        var first = document.getElementById('password');

        var pwChange = function(){
          var val = document.getElementById('password').value;
          if (val.length != 0) {
            var pwQuality = zxcvbn(val);
            switch (pwQuality.score) {
              case 0:
                //break;
              case 1:
                //break;
              case 2:
                document.getElementById('pwq').style.background = 'red';
                document.getElementById('pwq').innerHTML = "weak";
                break;
              case 3:
                //break;
              case 4:
                document.getElementById('pwq').style.background = 'green';
                document.getElementById('pwq').innerHTML = "strong";
                break;
            }
          } else {
            document.getElementById('pwq').style.background = 'white';
            document.getElementById('pwq').innerHTML = "";
          }
        };
        first.addEventListener('keyup', pwChange);
        first.addEventListener('change', pwChange);

        var again = document.getElementById('passwordAgain');

        var pwMatch = function(){
          if (first.value.length != 0) {
            if (again.value == first.value) {
              document.getElementById('pwm').style.background = 'green';
              document.getElementById('pwm').innerHTML = "match";
            } else {
              document.getElementById('pwm').style.background = 'red';
              document.getElementById('pwm').innerHTML = "different";
            }
          } else {
            document.getElementById('pwm').style.background = 'white';
            document.getElementById('pwm').innerHTML = "";
          }
        };
        again.addEventListener('keyup', pwMatch);
        again.addEventListener('change', pwMatch);

        var xhr = new XMLHttpRequest();
        var button = document.getElementById('registerButton');
        button.onclick = function(){
          var password = document.getElementById('password').value.trim();
          var passwordAgain = document.getElementById('passwordAgain').value.trim();

          if (password !== passwordAgain) {
            alert("Passwords don't match");
            return;
          }

          if (password.length < 1) {
            alert("Zero length passwords are note really a good idea");
            return;
          }

          var params = "password=" + encodeURIComponent(password);
          xhr.open('POST', '/changePassword',true);
          xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
          xhr.onreadystatechange = function () {
            if( xhr.readyState == 4 && xhr.status == 200) {
              //password changed
              window.location = '/';
            } else if (xhr.readyState == 4 && xhr.status == 400) {
              //show error
              alert(xhr.responseText);
            }
          }
          
          xhr.send(params);

        }
      </script>
    </div>
  </div>
<% include ../fragments/footer.ejs %>