<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>Node-RED Alexa Home Skill Bridge</h1>
    <p>This site is the registration point for using the node-red-contrib-alexa-home-skill 
    <a href="http://nodered.org">Node-RED</a> module.</p>

    <p>This node and service allows you to create your own "devices" to work with the Amazon Echo's 
    Home Skill system, giving you voice control over basically anything you can interface 
    with Node-RED. There is support for not only things like Belkin WeMo and Philps Hue, 
    but also a whole range of homebrew devices. You can also use Alexa to kick off seqences 
    of events not just discrete on/off type actions</p>

    <img style="margin-right: auto; margin-left: auto; display: block;" src="/images/node-red-alexa-small.png"/>
  </div
<% include ../fragments/footer.ejs %>