<% include ../fragments/header.ejs %>
  <div class="container main-content">
    <h1>Homebridge Alexa HomeSkill Landing Page</h1>
    <p>This site is the registration point for using the homebridge-alexa registration module.</p>

    <p>This HomeSkill allows you to control your HomeBridge enabled devices via Amazon Alexa.  Supported devices are Lights, Outlets, Switches and Fans.

    To setup this service, first install the homebridge-alexa plugin</p>

    <img style="margin-right: auto; margin-left: auto; display: block;" src="/images/homekitapp.jpg"/>
  </div
<% include ../fragments/footer.ejs %>
