<html>
<head></head>
<body>
<p>Hello</p>

<p>A request was recently made to reset the password for your Node-RED Alexa Home Skill account.</p>

<p>Your username is <%= username %>.<p>

<p>Follow this link to reset your password</p>

<a href="https://alexa-node-red.bm.hardill.me.uk/changePassword/<%= uuid %>">https://alexa-node-red.bm.hardill.me.uk/changePassword/<%= uuid %></a>

<p>This link will only be valid for the next 24hrs and will only work once.</p>
</body>
</html>